{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>Local Blog</h2>
    <p>Latest Posts:</p>
    <ul>
      <li><a href="latest">Latest Post</a></li>
    </ul>
{% endblock %}

