{% extends "base.jinja2" %}

{% block page_title %}{{ list_title }}{% endblock %}

{% block content %}

  {% block content_begin %}
  {% endblock %}

  {% if introduction_paragraph %}
  <div class="intro-paragraph">
    <p>{{ introduction_paragraph }}</p>
  </div>
  {% endif %}

  {% for post in posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">
    <p class="blog-post-meta">
      {{ post.creation_date.strftime("%Y-%m-%d %H:%M") }}
      {% if post.categories != ['Uncategorized'] %}<br /> Category: {{ post.categories|join(', ') }}{% endif %}
      {% if post.tags|length %}<br /> Tags: {{ post.tags|join(', ') }}{% endif %}
    </p>
    <p><a href="{{ post.address or '/post/{status}/{file}'.format(**post) }}">Read on</a></p>
  </div>
  {% endfor %}
{% endblock %}

