{% extends "base.jinja2" %}

{% block page_title %}{{ post.title }} | {{ blog_title }}{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">
      {{ post.creation_date.strftime("%Y-%m-%d %H:%M") }}
      {% if post.categories != ['Uncategorized'] %}<br /> Category: {{ post.categories|join(', ') }}{% endif %}
      {% if post.tags|length %}<br /> Tags: {{ post.tags|join(', ') }}{% endif %}
      {% if post.link %}<br /> <a href="{{ post.link }}">Upstream Link</a>{% endif %}
    </p>
    {{ post.rendered_content }}
  </div>
{% endblock %}

