{% extends "base.jinja2" %}

{% block page_title %}{{ post.title }} | {{ blog_title }}{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">
      {{ post.creation_date.strftime("%Y-%m-%d %H:%M") }}
      {% if post.categories %}
        | Category:
          {% for category in post.categories %}
            <a href="/category/{{category}}">{{ category }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
      {% endif %}
      {% if post.tags %}
        | Tags:
          {% for tag in post.tags %}
            <a href="/tag/{{tag}}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
      {% endif %}
      {% if post.link %}<br /> <a href="{{ post.link }}">(Upstream Link)</a>{% endif %}
    </p>
    <div>
      {% if ua.is_mobile or ua.is_tablet %}
      {{ additional_below_post_heading_html }}
      {% endif %}
    </div>
    <div class="post_content">
      {{ post.rendered_content }}
    </div>
  </div>
{% endblock %}

