{% extends "list_posts.jinja2" %}

{% block page_title %}Search for {{ search_phrase or "words in this blog" }}{% endblock %}

{% block content_begin %}
  Search blog posts:
  <form id="search-form">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Keywords:</span>
      <input id="search-field" type="text" class="form-control" placeholder="e.g. sshfs, or wavelength" value="{{ search_phrase or "" }}" aria-describedby="sizing-addon2">
    </div>
  </form>

  {% if search_phrase %}
    {% if posts %}
      Found {{ posts|length }} search results for "{{search_phrase}}":
    {% else %}
      No results found. You may try to search with a more generic term?
    {% endif %}
  {% endif %}
{% endblock %}

