/* http://stackoverflow.com/questions/10374171/how-to-make-twitter-bootstraps-pre-blocks-scroll-horizontally */
.pre-x-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    /* own additions */
    /*width: 100%;*/
    /*max-width: 60%;*/
}

code {
    font-size: 16px;
}

/* http://www.jquery2dotnet.com/2013/09/pre-tag-with-line-numbers-using-css3.html */

.codehilite pre {
    counter-reset: line-numbering;
    /*font-family: Menlo, Monaco, monospace;
    word-break: break-word;*/
}
.codehilite pre .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    /* space after numbers */
    width: 2.5em;
    text-align: right;
    opacity: 0.5;
    display: inline-block;
}

/* leaderboard */
.leaderboard-container {
    padding-top: 2ex;
}

/* blog header spacing */
.blog-header {
    padding-top: .5ex;
    padding-bottom: .5ex;
}

h1.blog-title {
    font-size: 54px;
    margin-top: 0;
}

/* headline link styling */
a.headline-link {
    color: inherit;
    text-decoration: inherit;
}

h2.list-title {
    font-size: 130%;
    text-align: center;
    color: #666;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin: 20px auto;
}

h2.blog-post-title {
    font-size: 200%;
}

/* tables in the post: smaller font size */
.blog-post table td, .blog-post table th {
    font-size: 80%;
    padding: 2px;
}
.blog-post table {
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 1px;
}

.blog-main-area {
  padding-top: 5px;
}

.blog-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.blog-sidebar {
  margin-top: 13px;
}

p.lead.blog-description {
  margin-top: 7px;
}
