/* http://stackoverflow.com/questions/10374171/how-to-make-twitter-bootstraps-pre-blocks-scroll-horizontally */
.pre-x-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    /* own additions */
    /*width: 100%;*/
    /*max-width: 60%;*/
}

/* http://www.jquery2dotnet.com/2013/09/pre-tag-with-line-numbers-using-css3.html */

.codehilite pre {
    counter-reset: line-numbering;
    /*font-family: Menlo, Monaco, monospace;
    word-break: break-word;*/
}
.codehilite pre .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    /* space after numbers */
    width: 2.5em;
    text-align: right;
    opacity: 0.5;
    display: inline-block;
}

/* leaderboard */
.leaderboard-container {
    padding-top: 2ex;
}

/* blog header spacing */
.blog-header {
    padding-top: .5ex;
    padding-bottom: .5ex;
}

h1.blog-title {
    margin-top: 0;
}

/* blog title link styling */
h1.blog-title a {
    color: inherit;
    text-decoration: inherit;
}

/* tables in the post: smaller font size */
.blog-post table td, .blog-post table th {
    font-size: 80%;
    padding: 2px;
}
.blog-post table {
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 1px;
}

.blog-main-area {
  padding-top: 5px;
}

.blog-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sidebar-module {
  margin-top: 25px;
}


@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}
